<p id="notice"><%= notice %></p>

<p>
  <b>Expense date:</b>
  <%= @expense.expense_date %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
